@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: 	#3273dc;
$blue: 	#209cee;
$brown: 		#363636;
$beige-light: 	#7a7a7a;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $blue ;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";



body{
    margin: 5%;
}

.bubble{
    background-color: #fff;
    width: auto;
    height: auto;
    border: solid 2px black;
    border-radius: 25px;
    margin: 5%;
}

.line-break{
    display: flex;
    justify-content: center;
    
    hr{
        width: 80%;
        display: block; height: 1px;
        border: 0; border-top: 1px solid;
        margin: 1em 0; padding: 0;
    }
}


.subtitle{
    font-size: 1.125rem; 
    margin: 5%;
}
//////////////////////////////////////////////////////////////

.breadcrumb{
    margin: 5%;
}

.introduction{

    //background-color: red;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;

    .subtitle{
        font-size: 1.125rem; 
        margin: 5%;
    }

}

.ui{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;

    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img{
            height: 400px;
            width: 256px;
        }

        .colors{
            display: flex;
            justify-content: space-between;
            margin: 10%;

            .grey{
                width: 50px;
                height: 50px;
                background-color: #212121
            }

            .white{
                width: 50px;
                height: 50px;
                background-color: #fff;
            }

            .blue{
                width: 50px;
                height: 50px;
                background-color: $blue;
            }
        }

    }
    
}

.ui-desktop{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;

    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        #desktop{
            height: 256px;
            width: 100%;
        }
    }
}

.workflow{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;

    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img{
            height: 100px;
            width: auto;
            margin: 5%;
        }

        
    }
}