@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: 	#3273dc;
$pink: 	#209cee;
$brown: 		#363636;
$beige-light: 	#7a7a7a;
$beige-lighter: #CFD8DC;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";



//MOBILE FIRST


.breadcrumb{
    margin: 5%;
}

.sticky-nav{
    .navbar{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .navbar-menu{
            display: flex;
            width: 100%;
            justify-content: center;
         
        }
    }
    
}
.introduction{
    height: 70vh;
    //background-color: $beige-light;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    width: 45%;

    .intro-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50%;
        img{
            border-radius: 50%;
            width: 128px;
            height: 128px;
            margin-bottom: 10%;
            //border: solid 2px black;
            box-shadow: 0px 24px 34px -17px rgba(0,0,0,0.75);
        }
        #name{
            margin-bottom: 0;
        }
        .social-icons{
            font-size: 1.750em;
        }
    }
    
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    

    .title{
        font-style: italic;
    }
  hr{
      width: 80%;
      display: block; height: 1px;
      border: 0; border-top: 1px solid;
      margin: 1em 0; padding: 0;
  }

  .card{
      margin-bottom: 10%;
  }

}